<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    {% for item in Objects %}
    {{ item.CreateDate | Date : "yyyy-MM-dd HH:mm:ss" }} <br />
    {% endfor %}

    {% if Objects != null %}
    Objects is not null
    {% endif %}

    {% if Objects.Size > 0 %}
   4444
    {% endif %}

    Objects is not empty : {{Objects | Size}}

    {% if Objects %}
    any array is true
    {% endif %}
</body>
</html>
