
@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<style>
    div[contentEditable] {
    cursor: pointer;
    background-color: #D0D0D0;
  }
</style>

<div ng-controller="indexController">
    <form class="form" novalidate name="myform" ng-model-options="{ updateOn: 'default blur',debounce:{default:10,blur:10}}">
        <div class="form-body">
            <div class="form-group" ng-class="{'has-error':myform.name.$invalid}">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" name="name" ng-model="user.name" required />
            </div>
            <div class="form-group" ng-class="{'has-error':myform.age.$invalid}">
                <label class="control-label">Age</label>
                <input type="number" class="form-control" name="age" ng-model="user.age" min="12" integer />
                <div ng-show="myform.age.$invalid">
                    <span class="help-block" ng-show="myform.age.$error.integer">Please type in integer</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':myform.email.$invalid}">
                <label class="control-label">Email</label>
                <input type="email" class="form-control" name="email" ng-model="user.email" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="submit(myform)">Submit</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="reset()">Reset</button>
            </div>
        </div>
    </form>
    <h1>{{user.name}}</h1>
    <div contentEditable="true" ng-model="content" title="Click to edit">Some</div
    <h1>Content: {{content}}</h1>
</div>

