@{
    ViewBag.Title = "7pixel";
    List<string> paths = ViewBag.DesignPaths as List<string>;
    string designDomain = SiteConfig.DesignDomain;
}
<ul>
    @foreach (string path in paths)
    {
        string url = String.Format("http://{0}/{1}", designDomain, path);
        <li>
            <a href="@url" target="_blank">@path</a>
        </li>
    }
</ul>