@{
    ViewBag.Title = "Jquery";
}
@section UsingScript{
    <script src="~/assets/scripts/jquerytest.js" type="text/javascript"></script>
}
<style>
  
</style>
<h2>Jquery</h2>

<div id="offsetTest" style="width:300px;height:300px;border:50px solid #000;padding:30px;background-color:#eee;margin:50px;">

</div>