@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>title test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <style>
        html, body, .page {
            width: 100%;
            height: 100%;
            margin:0;
            padding:0;
        }
        .page1{
            background-color:blue;
        }
        .page2{
            background-color:red;
        }
        .page3{
            background-color:yellow;
        }
    </style>
</head>
<body>
    <div class="page page1">
        page 1
    </div>
    <div class="page page2">
        page 2
    </div>
    <div class="page page3">
        page 3
    </div>
</body>
</html>
