.text-wrap{
    font-size:50px;
    padding:10px 0;
    border:5px solid #ccc;
    color:#f7edf7;
}
.shadow1{
    text-shadow:0 0 0 rgb(188,178,188),1px 0 0 rgb(173,163,173),
                2px 0px 0 rgb(157,147,157),3px 0px 0 rgb(142,132,142),
                4px 0px 0 rgb(126,116,126),5px 0px 0 rgb(111,101,111),
                6px 0px 0 rgb(95,85,95),7px 0px 0 rgb(79,69,79),
                8px 0px 7px rgba(0,0,0,0.35),8px 0px 1px rgba(0,0,0,0.5),
                0px 0px 7px rgba(0,0,0,0.2);
}
.text-overflow{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.word-wrap{

   overflow:hidden;
   width:150px;
   word-wrap:break-word;
}
p{
    text-indent:2em;
}