@{
    ViewBag.Title = "CSS3 Text";
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Property</th>
            <th>Remark</th>
            <th>Values</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>text-shadow</td>
        </tr>
    </tbody>
</table>
<h2>
    Text-shadow
</h2>

