@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        html,body{
            margin:0;
            padding:0;
        }
        .logo {
            margin-left:1em;
            float: left;
            line-height: 1.5em;
        }

        .right-text {
            float: right;
            line-height: 1.5em;
            vertical-align: middle;
            margin-right:1em;
        }

        .right-text span{
            margin-right:1.5em;
        }

        .right-text span:last-child{
            margin-right:0;
        }

        .pdf-header {
            overflow: hidden;
            line-height: 1.5em;
            padding-bottom: 0.5em;
            border-bottom: 2px solid #0094ff;
        }
    </style>
</head>
<body>
    <div class="pdf-header">
        <div class="logo">
            <img src="http://dev-media-api.realnext.nl/image-resizing/organizations/b9634628-e041-4375-a8d1-1965aae63dc5/logos/d8a9ee8c-a7c0-4dce-a967-2002e318ddaf.png?width=80&height=30" />
        </div>
        <div class="right-text">
            <span>
                www.dtz.com
            </span>
            <span>
                020 644 6444
            </span>
            <span>
                <a href="mailto:info@gamil.com ">info@gmail.com</a>
            </span>
        </div>
    </div>
</body>
</html>

